* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    ;
}

.d_flex {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 50%;
}

body {
    background: linear-gradient(to bottom, #009688, 150px, #f3eeea 0px);

}

.image {
    width: 60px;
    aspect-ratio: 1;
}

/* #region Color */

:root {
    --color-marine: #009688;
    --color-sky: #8edafc;
    --color-green: #d5f9ba;
    --color-light-dark: #b9b6b4;
    --color-light: #f3eeea;
    --color-dark: #6b7376;
}


/* #endregion Color */


.container {
    width: 80%;
    margin: auto;
    max-width: 1900px;
    height: 100%;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

}


.wrapper {
    height: 100vh;
}

.text_chat {
    opacity: 0.5;
}

.time {
    margin-left: auto;
    opacity: 0.5;
}

.row {
    display: flex;
    height: 100%;
}

.col-12 {
    width: calc((100% / 12) * 12);

}

.users {
    overflow-y: auto;
    height: calc((100% - 210px));
}

.col-4 {
    width: calc((100% / 12) * 4);
    background-color: var(--color-light);
    border: 1px solid var(--color-light-dark);
}

.col-8 {
    width: calc((100% / 12) * 8);
    background-color: var(--color-light);
    border: 1px solid var(--color-light-dark);
}


ul {
    list-style: none;
    display: flex;
    gap: 15px;
    color: var(--color-light-dark);
}

.notification {
    padding: 5px;
    background-color: var(--color-sky);
    padding-left: 10px;
}

[class^="user_"],
.profile,
.notification,
.box_search {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 10px;
    gap: 10px;
    height: 70px;

}

.selection:hover {
    background-color: var(--color-light-dark);
    cursor: pointer;
    border: 2px solid #ccc;
    opacity: 1;
}

.right {
    width: 70%;
    margin-left: auto;
    background-color: var(--color-green);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;

}

.left {
    width: 70%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;

}

.info_message {
    position: absolute;
    top: 10px;
    right: 10px;

}

.section_message {
    padding: 20px;
    background-image: url(./img/mine.jpg);
    height: calc((100vh - 70px - 70px - 60px));
    overflow-y: auto;

}

.notification>.bell {
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: var(--color-sky);

}

.function {
    font-size: 25px;
    color: var(--color-light-dark);
    margin-left: auto;
}

.search {
    background-color: white;
    width: 100%;
    padding-left: 20px;
    color: var(--color-light-dark);
    font-size: 20px;

}

.ghost {
    display: none;
}

input {
    padding: 1rem;
    border-style: none;
    outline: none;
    width: 100%;
    height: 30px;
}

.emoji {
    width: 10%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.registration {
    width: 10%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.menu_tendina {
    display: none;
}

.info_message:hover {

    .menu_tendina {
        width: 200px;
        position: absolute;
        top: 20px;
        left: -190px;
        display: block;
        background-color: white;
        text-align: center;
        font-size: 18px;

        & .item {
            border: 1px solid;
        }
    }
}

/* #region Media */

@media screen and (max-width:991px) {
    .col-1-tablet {
        width: calc((100% / 12) * 1);
        min-width: 70px;
    }

    .col-11-tablet {
        width: calc((100% / 12) * 11);
    }

    .profile>.function {
        display: none;
    }

    .notification,
    .box_search {
        display: none;
    }

    .name_chat {
        display: none;
    }

    .time {
        display: none;
    }

    .users {
        height: calc(100% - 70px);
    }


}

@media screen and (max-width:540px) {
    .col-12-mobile {
        width: calc((100% / 12) * 12);

    }

    .col-1-tablet {
        display: none;
    }

    .emoji,
    .registration {
        display: none;
    }
}

/* #endregion Media */


.menu_tendina{
    display: flex;
    flex-direction: column;
}